body
{
	background: black;
	font-family: arial;
	font-size: 16px;
	
}

div
{
	width: 200px;
	height: 200px;
	border-radius:5px;
	margin: 0.1em 0.1em;
}

header
{
	background-size: 100px,100px 100px;
	box-shadow: rgba(0,9,0,0.7) 0px 5px 10px;
	border-radius: 0.2em;
	font-size: 1em;
	margin: 0em 2em 0.1em 2em;	
	width: 95%;
	position: fixed;
	background-color: red; 
}


header h1 
{
	width: 1%;
	display: inline-block;	
    vertical-align: left;
	
}
header h1 a
{
	color: black;
	font-family: arial;
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	margin: none;
}

header select
{
	width: 20%; 
    display: inline-block;	
    vertical-align: top;
	margin: 1em 1em 1em 10em;

}

header section 
{
	width: 45%; 
    display: inline-block;	
	vertical-align: top;
	margin: 1em 1em 1em 10em;


}


.principal
{
	background: #EBEBEB;
	margin: 0em 0em 0em 2em;	
	padding:  4.5em 0.5em;
	width: 94%;
}

.principal #s 
{
	background: yellow ;/*#CBCACA;*/
	width: 70%;
}
#s, #r, #derecha, #izquierda
{
	
	display: inline-block;
	vertical-align: top;

}

#r
{
	background: blue;/*#ABABAB;*/
	width: 25%;
	text-align: right;
	margin: 1em 1em 0em 1em;

}
#r input, button
{
	margin: 0em 1em 0em 0em;

}

#izquierda
{
padding: none;	
margin: 1em 1em 1em 6em;
}

#derecha
{
margin: 0em 0em 0em 0em;
}

#spelis
{
	background: blue;
    
}
#sseries
{
	background: red;
}
#sanime
{
	background: green;
    
}
#sjuegos
{
	background: black;

}	