body
{
	background: #F0F0F0;
	font-family: arial;
	font-size: 16px;
	
}

div
{
	width: 200px;
	height: 200px;
	border-radius:5px;
	margin: 0.1em 0.1em;
}

header
{
	background-size: 100px,100px 100px;
	box-shadow: rgba(0,9,0,0.7) 0px 5px 10px;
	border-radius: 0.2em;
	font-size: 1em;
	margin: 0em 2em 0.1em 2em;	
	width: 95%;
	position: fixed;
	background-color: #FF7700; 
}


header h1 
{
	width: 1%;
	display: inline-block;	
    vertical-align: left;
    margin: 1% 0em 0em 1%;
	
}
header h1 a
{
	color: black;
	font-family: arial;
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	margin: none;
}

header select
{
	width: 20%; 
    display: inline-block;	
    vertical-align: top;
	margin: 1% 1em 1em 10%;

}

header section 
{
	width: 45%; 
    display: inline-block;	
	vertical-align: top;
	margin: 1% 1em 1em 10%	;


}


.principal
{
	background: #B0E3F4;
	margin: 0em 0em 0em 2em;	
	padding:  0em 0em;
	width: 94.9%;
	box-shadow: rgba(0,9,10,10.7) 0px 5px 100px;
	border-radius: 0.2em;

}

.principal #s 
{
	background: #4C9ED9 ;/*#CBCACA;*/
	width: 70%;
	margin: 0em 0em 0em 0em;
	padding:  5em 0em;
	


}
#s, #r, #derecha, #izquierda
{
	
	display: inline-block;
	vertical-align: top;

}

#r
{
	background: #B0E3F4;/*#ABABAB;*/
	width: 25%;
	text-align: right;
	margin: 8em 1em 0em 1em;

}
#r input, button
{
	margin: 0em 1em 0em 0em;

}

#izquierda
{
margin: 1em 1em 1em 20%;
}

#derecha
{
margin: 0em 0em 0em 0%;
}

#spelis
{
	background: blue;
    
}
#sseries
{
	background: red;
}
#sanime
{
	background: green;
    
}
#sjuegos
{
	background: black;

}	